<div class="container has-text-centered">
    <div class="level">
        <div class="level-left">
            <h1 class="title is-1">Games:</h1>
        </div>
        <div class="level-right">
            <button class="button is-primary" (click)=hostGame()>Host game</button>
        </div>
    </div>

    <div class="box" *ngIf="games && games.length > 0">
        <table class = "table">
            <thead>
               <tr >
                  <th>ID</th>
                  <th>Host</th>
                  <th>Players</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let game of games" class='gray-hover' (click)=goToRoom(game.id)>
                    <td>{{game.id}}</td>
                    <td>{{game.host}}</td>
                    <td>{{game.players.length}}</td>
               </tr>
            </tbody>
         </table>
    </div>

    <div class="box" *ngIf="!(games && games.length > 0)">
        <div class="level">
            <div class="level-item">
                <h3 class="title is-3">
                    No games! Host one!
                </h3>
            </div>
        </div>
    </div>
</div>